<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><%= @app.name %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" media="screen">

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="fb:app_id" content="<%= @app.id %>" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/js/jquery-css-transform.js"></script>
    <script src="/js/jquery-animate-css-rotate-scale.js"></script>
    <script>
      function popup(pageURL, title,w,h) {
        var left = (screen.width/2)-(w/2);
        var top = (screen.height/2)-(h/2);
        var targetWin = window.open(
          pageURL,
          title,
          'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left
          );
      }
    </script>
    <!--[if IE]>
      <script>
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>

<div style="-moz-transform-origin:top left; -moz-transform: rotate(-90deg); position: absolute; left: 670px; top:660px; font-size: 24px; color: rgb(59, 89, 152);"><%= @name %></div>
          <div style="clear:both">
          <% @colors.each_with_index do |color,index| %>

<%
  r = rand @friends.count
  i = @imgs[r];
  if (color>i[:value])
    opacity = 1-(color-i[:value])/(1-i[:value])
    color = "white"
  else
    opacity = 1-(i[:value]-color)/i[:value]
    color = "black"
  end
%>

            <a href="<%= @friends[r].id %>" onmouseover="$($(this).children()[0]).css({zIndex:1});$($(this).children()[0]).animate({scale:'2'}, 500)" onmouseout="$($(this).children()[0]).css({zIndex:0});$($(this).children()[0]).animate({scale:'1'}, 500)">
              <div style="background-color:<%= color %>; position:absolute; left:<%= 20*(index%@size+1) %>px; top:<%= 20*(index/@size+1) %>px; width:20px; height:20px">
                <img src="data:image/gif;base64,<%=i[:data]%>" style="display:block; opacity:<%= opacity %>;"/>
              </div>
            </a>

            <% if (index%@size==@size-1) %>
              </div><div style="clear:both">
            <% end %>
          <% end %>
          </div>
  </body>
</html>
