<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><%= @app.name %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" media="screen">

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="fb:app_id" content="<%= @app.id %>" />
    <script>
      function popup(pageURL, title,w,h) {
        var left = (screen.width/2)-(w/2);
        var top = (screen.height/2)-(h/2);
        var targetWin = window.open(
          pageURL,
          title,
          'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left
          );
      }
    </script>
    <!--[if IE]>
      <script>
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
          <% @friends.each do |friend| %>
            <li>
              <a href="#" onclick="window.open('http://www.facebook.com/<%= friend.id %>')">
                <img src="https://graph.facebook.com/<%= friend.id %>/picture?type=square" alt="<%= friend.name %>">
                <%= friend.name %>
              </a>
            </li>
          <% end %>
          <div style="clear:both">
          <% @colors.each_with_index do |c,index| %>
            <img src="https://graph.facebook.com/<%= @friends[0].id %>/picture?type=square" style="width:20px;height:20px;opacity:<%= c/65535.to_f %>;display:block;float:left"/>
            <!--div style="float:left;background:rgb(<%=c>>8%>,<%=c>>8%>,<%=c>>8%>);width:10px;height:10px;"></div-->
            <% if (index%@size==@size-1) %>
              </div><div style="clear:both">
            <% end %>
          <% end %>
          </div>
  </body>
</html>
